<div class="grid p-2">
    <a routerLink="/business-request" class="col-12 md:col-6 p-2">
        <div class="card flex flex-column align-items-center p-8 border-3 hover:border-primary">
            <i class="pi pi-shopping-bag text-5xl"></i>
            <h3 class="mb-2 font-bold">Business request</h3>
            <small>Ordering process follow-up</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="/" class="col-12 md:col-6 p-2">
        <div class="card flex flex-column align-items-center p-8 border-3 hover:border-primary">
            <i class="pi pi-th-large text-5xl"></i>
            <h3 class="mb-2 font-bold">SC Control</h3>
            <small>Execution follow-up</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
</div>
<div class="grid p-2">
    <a routerLink="/" class="col-12 md:col-3 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-chart-line text-5xl"></i>
            <h4 class="mb-2">Financial Reports</h4>
            <small>Ordering process follow-up</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="/" class="col-12 md:col-3 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-chart-pie text-5xl"></i>
            <h4 class="mb-2">Clients Reports</h4>
            <small>Ordering process follow-up</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="/" class="col-12 md:col-3 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-file text-5xl"></i>
            <h4 class="mb-2">Invoicing</h4>
            <small>Ordering process follow-up</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="/" class="col-12 md:col-3 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-money-bill text-5xl"></i>
            <h4 class="mb-2">Payments</h4>
            <small>Ordering process follow-up</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
</div>